{% extends 'base.html.twig' %}

{% block body %}
    <div class="row-fluid"> 
        <div class="span12"> 
            <div id="content-body">
                <h3 id="content-title" style="display: none;">{% set title = 'Commentaire'|trans ~ ' : ' ~ 'modification'|trans %}{{title|upper}}</h3>
                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(edit_form) }}
                    <div class="control-group">
                        {{ form_label(edit_form.commentaire,'', { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                        {{ form_widget(edit_form.commentaire,{'attr':{'class':'span8 wysihtmleditor5','rows':'5'} }) }}
                        {{ form_errors(edit_form.commentaire) }}
                        </div>
                    </div>
                    <div class="hidden">{{ form_rest(edit_form) }}</div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success btn-save"><i class="icon-ok"></i>{{'Sauvegarder'|trans}}</button>
                        <a class="btn btn-exit" {% if app.request.uri != app.session.get('previousUrl')%} href="{{app.session.get('previousUrl')}}" {% else %} href="{{app.session.get('expreviousUrl')}}" {% endif %}><i class="icon-arrow-left"></i>{%trans%}Quitter{%endtrans%}</a>
                        
                    </div>

                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}