{% trans_default_domain 'FOSUserBundle' %}

<div class="row-fluid">
    <div class="span8 offset2">
        <div id="content-body" {% if(app.request.isXmlHttpRequest==false)%} class="ombrage" style="background-color: #fff; padding: 1%;" {%endif%}>
            <h4 id="content-title" style="display: none;">{% set title = 'motdepasse'|trans({},'messages') ~ ' : ' ~ 'modification'|trans({},'messages') %}{{title|upper}}</h4>
            <div class="alert alert-info" >{{'pass_length'|trans({},'messages')}}</div>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password, form-horizontal' } }) }}
                {% if(app.request.isXmlHttpRequest==false)%}
                    <legend>{{"change_pass"|trans({},'messages')|upper}}</legend>
                {% endif %}
                <div class="control-group">
                    {{ form_label(form.current_password,'', { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                    {{ form_widget(form.current_password,{'attr':{'class':'input-xlarge'} }) }}
                    {{ form_errors(form.current_password) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.plainPassword.first,'', { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'input-xlarge'} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.plainPassword.second,'', { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'input-xlarge'} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                
            {{ form_end(form) }}
            
        </div>
    </div>
</div>