{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}#}
<div class="row-fluid">
    <div class="span8 offset2">
        <div class="ombrage" style="background-color: #fff; padding: 1%;">
            <div class="alert alert-info" >{{'pass_length'|trans({},'messages')}}</div>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset, form-horizontal' } }) }}
                <legend>{{"change_pass"|trans({},'messages')|upper}}</legend>
                <div class="control-group">
                    {{ form_label(form.plainPassword.first,'', { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'input-xlarge'} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.plainPassword.second,'', { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'input-xlarge'} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            {{ form_end(form) }}
            <a  href="{{ path('fos_user_security_login') }}">
                <i class="icon-lock"></i>
                <span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
            </a>
        </div>
    </div>
</div>